@font-face {
	font-family:boschsans;
	font-style:normal;
	font-weight:700;
	src:url(../fonts/eot/boschsans_bold.eot) format("eot"),url(../fonts/woff/boschsans_bold.woff) format("woff"),url(../fonts/ttf/boschsans_bold.ttf) format("truetype"),url(../fonts/svg/boschsans_bold.svg) format("svg");
}
@font-face {
	font-family:boschsans;
	font-style:normal;
	font-weight:600;
	src:url(../fonts/eot/boschsans_medium.eot) format("eot"),url(../fonts/woff/boschsans_medium.woff) format("woff"),url(../fonts/ttf/boschsans_medium.ttf) format("truetype"),url(../fonts/svg/boschsans_medium.svg) format("svg");
}
@font-face {
	font-family:boschsans;
	font-style:normal;
	font-weight:400;
	src:url(../fonts/eot/boschsans_regular.eot) format("eot"),url(../fonts/woff/boschsans_regular.woff) format("woff"),url(../fonts/ttf/boschsans_regular.ttf) format("truetype"),url(../fonts/svg/boschsans_regular.svg) format("svg");
}
@font-face {
	font-family:boschsans;
	font-style:normal;
	font-weight:200;
	src:url(../fonts/eot/boschsans_light.eot) format("eot"),url(../fonts/woff/boschsans_light.woff) format("woff"),url(../fonts/ttf/boschsans_light.ttf) format("truetype"),url(../fonts/svg/boschsans_light.svg) format("svg");
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-webkit-tap-highlight-color:transparent;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
	font-family: "boschsans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #FFFFFF;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #005691;
    font-weight: 200;
    cursor: pointer;
}

a, a:active, a:visited, html:not(.is-touch) a:hover {
    text-decoration: none;
}

a:active, html:not(.is-touch) a:hover {
    color: #000;
    cursor: pointer;
}

img {
	border: none;
}

h1 {
	color: #000000;
	font-family: "boschsans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 3rem;
	line-height: 52px;
	font-weight: 200;
	margin: 0;
}

h3 {
	color: #000000;
	font-family: "boschsans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.75rem;
	line-height: 32px;
	font-weight: 200;
	margin: 0;
}

h5 {
	color: #000000;
	font-family: "boschsans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.25rem;
	line-height: 24px;
	font-weight: 200;
	margin: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input {
	font-family: "boschsans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 200;
}

figure {
	margin:0;
}

svg:not(:root) {
    overflow: hidden;
}

.container-fluid {
	position: relative;
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	color: #000;
}

.container-fluid:after,.container-fluid:before {
	content:" ";
	display:table;
}

.container-fluid:after {
	clear:both;
}

.icon {
    fill: #000;
}
